.back-to-top{
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    cursor: pointer;

    &__icon{
        color: $white;
        font-size: 2rem;
        @include absoluteCenter
    }
}